// PATH
$icon-font-path:                '../Fonts/';
$fa-font-path:                  $icon-font-path;

// Color
$white-base:                    #FFFFFF;

// FONT
$font-family-sans-serif:        'Lato', sans-serif;

// Dimension
$tablet:                        992px;
$mobile:                        768px;
