/Build/
/Configuration/*
!/Configuration/Routes.yaml
/Data/
/Packages/Framework/
/Packages/Libraries/
/Packages/Application/*
!/Packages/Application/WE.News
/Packages/Application/WE.News/Resources/Public/Fonts
/Packages/Application/WE.News/Resources/Public/Stylesheets
/Packages/Application/WE.News/Resources/Public/JavaScripts
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat

*.log
